body{
  background-color: #b3e2b3;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}


.main_content{
  clear: both;
  padding: 30px;
  overflow: auto;
  background: #CCFFCC;
  background-color: #b3e2b3;
}

#main_content_title{
    font-size: 50px;
    font-weight: bold;
}

#main_content_desc{
    font-size: 30px;
}
#food_1{
    width: 70%;
    margin: 10%;
    border: 0px solid red;
    border-radius: 25%;
  
}

.button {
    background-color: #ab63e6;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    /* border: 1px solid red; */
}

.footer {

  width: 100%;
  background-color: rgb(65, 173, 245);
  color: white;
  text-align: center;
  height:100px;
}





/* HERO CSS */

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  margin-bottom: 60px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  background: url(../img/handing-corn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}
.hero-content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin-right: 60%;
  margin-top: 10%;
  



}
.hero-title {
  font-size: 10rem;
  font-weight: 600;
  margin-bottom: 0;
}
.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}
.hero-button {
  background-color: #ae2d59;
  color: white;
  border: 1px solid #cb376a;
  margin-top: 5rem;
  padding: 0.9375rem1.875rem;
  font-family: "Monserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #cb376a;
  border: 1px solid #db7598;
}

/* END HERO CSS */



.site-wrapper {

  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

/* NAVIGATION*/

	.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-nav{
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    color: #FFFF;
  }
  
  a {
    text-decoration: none;
  }

  ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
 

/* END NAVIGATION*/

.have-need-btns{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10%;
  margin-bottom: 50px;
}


/* GIVE BUTTON */

.btn-have-need {
 
  border-radius: 30px;
  border: none;
  padding: 20px;
  font-size: 50px;
  text-align: center;
}
