@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

:root {
  --greenText: #5C724E;
  --bodyBackground: #f4f8dd;
  --sectionBackgroundBrown: #887152;
  --white: #ffffff;
}

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


body {
  background-color: var(--bodyBackground);
  font-family: 'Poppins', 
  sans-serif; 
}


/* NAVIGATION */

.navigation {
  width: 80%;
  display: flex;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-nav{
  display: flex;
  justify-content:flex-end;
  gap: 20px;
  color: #FFFF;
  margin-left: auto;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

/* HERO CSS */

/* place header background image */

.header__hero__bg-img {
  position: relative;
}

.header__hero__bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url(/img/handing-corn.jpg);
  background-size: cover;
  filter:brightness(75%);
  background-position: center; 
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
 height: 100vh;
 justify-content: flex-end;
}

.header__hero__content {
  position: relative;
  color: white;
}

.header__hero__content__title {
  font-size: 8rem;
  font-weight: 600;
  line-height: 125px;
  text-align: center;
  margin-bottom: 30px;
}

.header__hero__content__subtitle {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}




/* MAIN */

h2 {
  margin-bottom: 20px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 60px;
  
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* max-width: 1000px; */
}

.section{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
/* background-color: green; */
}

.section > * {
  margin-left: 60px;
  margin-right: 60px;
  /* border: 1px solid purple; */
}

.section__col-left {
  /* margin-bottom: 100px; */

}

.section__col-left__img  {

  width: 100%;
  
}



.section__col-right {

}

.section__col-right_p{
  font-size: 26px;
}


.footer {
  width: 100%;
  background-color: rgb(65, 173, 245);
  color: white;
  text-align: center;
  height:100px;
}



/* BUTTONS */



/*********  MEDIA QUERIES *********/

/* 1200, 768, 375 */






/*  900px to 1199px width */


/* 1200px width and up */

@media screen and (min-width: 900px){

  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* max-width: 1000px; */
  }

  .section{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 200px;
    padding-bottom: 200px;
    border-bottom: 1px solid #686f6f;
    background-color: grey;

    }
    
    .section > * {
      margin-left: 0px;
      margin-right: 0px;
    }
    
    .section__col-left {
      margin-bottom: 0px;
    
    }
    
    .section__col-left__img  {
      /* display: block; */
      width: 75%;
      border: 4px solid #74594C;
      border-radius: 8px;
      
      
    }

    .section__col-right_p{
      font-size: 26px;
    }
}


@media screen and (min-width: 1200px){
 
  .section{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    border-bottom: 1px solid #686f6f;
    background-color: pink;

    }
    
    .section > * {
      margin-left: 0px;
      margin-right: 0px;
    }
    
    .section__col-left {
      margin-bottom: 0px;
    
    }
    
    .section__col-left__img  {
    
      width: 100%;
      border: 4px solid #74594C;
      border-radius: 8px;
      
    }

    .section__col-right_p{
      font-size: 26px;
    }
  
  }

 
  
